<template>
  <div>
    <div>Counter: {{ value }}</div>
    <div class="d-flex justify-content-center gap-3 mt-2">
      <button type="button" class="btn btn-success" @click="increase" @keydown="increase">Increase</button>
      <button type="button" class="btn btn-danger" v-on:click="decrease" v-on:keydown="decrease">Decrease</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Counter",
    data: () => ({
      value: 0
    }),
    methods: {
      increase() {
        console.log(this);
        this.setValue(this.value + 1)
      },
      decrease() {
        console.log(this);
        this.setValue(this.value - 1)
      },
      setValue(newValue) {
        this.value = newValue
      }
    }
  }
</script>
